.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

#left {
    left: -8.33%;
    text-align: left;
    float: left;
    width: 50%;
    z-index: -10;
}

#right {
    left: 31.25%;
    top: 75px;
    float: right;
    text-align: right;
    z-index: -10;
    width: 50%;
}
